@import url("https://use.typekit.net/maf7bgn.css");

body {
height:100%;
}

:root {
  --text: #000;
  --cran: #61060e;
  --gold: #cec79f;
  --grey: #51484f;
  --white: white;
  --box-shadow-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  background: var(--white);
}

body {
  margin: 0;
  font-family: rumba-small, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@-ms-viewport{
 width: device-width;
}

#mainwrap{
  min-height:100%;
  position:relative;
}

nav.navbar {
  background: linear-gradient(301deg, rgba(206, 199, 159, 1) 0%, rgba(206, 199, 159, 0.5368522408963585) 44%, rgba(206, 199, 159, 0.3295693277310925) 98%);
  box-shadow: var(--box-shadow-shadow);
}

main {
  grid-area: content;
  background-color: var(--white);
  color: var(--text);
  margin: 5%;
}

header {
  grid-area: header;
}

img.fancy{
  max-width: 25%!important;
  height: auto;
}

footer {
  grid-area: footer;
  background-color: var(--gold);
  height: 50px;
  padding: 3%;
  box-shadow: var(--box-shadow-shadow);
  	position:relative;
}

.hero.is-medium .hero-body {
 padding: 3%!important;
  }

.hero.is-primary {
  background: linear-gradient(127deg, rgba(171, 30, 41, 1) 0%, rgba(97, 6, 14, 1) 46%, rgba(46, 0, 4, 1) 100%);
}
